/node_modules/
/vendor/
/_site/
/.bundle/
/.jekyll-cache/
/.git/
.idea

volumes/grafana/
volumes/loki/
volumes/prometheus/
volumes/promtail/
volumes/jekyll/site/
volumes/website/logs/
volumes/website/geoip/

cert/
