/node_modules/
/public/
/resources/
/.hugo_build.lock
/vendor/
/.bundle/
/.git/
.idea

volumes/grafana/
volumes/loki/
volumes/prometheus/
volumes/promtail/
volumes/website/logs/
volumes/website/geoip/

cert/
.tools/
.agent/
.agents/
.claude/
.qoder/
.trae/
.vscode/
sre/
